<div class="container-xl" style="width: 500px; margin: auto;">
    <br />
    <h1 class="display-1 text-center"><strong>{{ pageTitle }} </strong> </h1>
    <br />
    <div class="submit-form">
      <div *ngIf="!isEngineerAdded">      
        
        <!----------->
        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label for="EngCode" class="font-weight-bold font-italic text-danger boldText italicsText">Engineer Code</label>
              <input type="text" class="form-control mb-3" id="EngCode" required [(ngModel)]="engineer.EngCode" name="EngCode" />
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="FirstName" class="font-weight-bold font-italic boldText">First Name</label>
          <input class="form-control mb-3" id="FirstName" required [(ngModel)]="engineer.FirstName" name="FirstName" />
        </div>
        
        <div class="form-group">
          <label for="LastName" class="font-weight-bold font-italic boldText">Last Name</label>
          <input class="form-control mb-3" id="LastName" required [(ngModel)]="engineer.LastName" name="LastName" />
        </div>
        
        <div class="form-group">
          <label for="Email" class="font-weight-bold font-italic boldText">Email</label>
          <input class="form-control mb-3" id="Email" required [(ngModel)]="engineer.Email" name="Email" />
        </div>


        <div class="row">
          <div class="col-sm-12">
            
            <div class="row">
              <div class="col-6">
                <label for="Language" class="font-weight-bold text-primary boldText italicsText">Language</label><br />
                <input class="form-control mb-3" id="Language" required [(ngModel)]="engineer.Language" name="Language" value="en" placeholder="en" size="5" maxlength="7" />
                <br />
              </div>
              <div class="col-6">
                <label for="IsAdmin" class="font-weight-bold text-primary boldText italicsText">Is Admin?</label><br />
                <input class="form-control mb-3" id="IsAdmin" required [(ngModel)]="engineer.IsAdmin" name="IsAdmin" value=0 placeholder="0" size="5" maxlength="7" min="0" max="1" />
                <br />
                
              </div>
            </div>
          </div>
        </div>
        <!-------------------->
        
        <div class="form-group">
          <label for="LastLogin" class="font-weight-bold font-italic boldText italicsText">Last Login</label>
          <input class="form-control mb-3" id="LastLogin" required [(ngModel)]="engineer.LastLogin" name="LastLogin" readonly />
        </div>

        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label for="Active" class="font-weight-bold text-primary boldText">Active</label>
              <input class="form-control mb-3" id="Active" required [(ngModel)]="engineer.Active" name="Active" plcaeholder=1 value=1 size="5" maxlength="7" min="0" max="1" />
            </div>
          </div>
        </div>



        <!-- Note2Self - ToDo: Modify the API call to get the DB mandatory fields for record creation, then edit the 5 field below accordingly -->
        <div class="card bg-light text-dark border border-primary">
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                
                <div class="row">
                  <div class="col-4">
                    <label for="CreatedBy" class="text-secondary">Created By <span class="mandatory">*</span> </label><br />
                    <input class="form-control mb-3" id="CreatedBy" required [(ngModel)]="engineer.EngCode" name="CreatedBy" value="SYSTEM" size="8" maxlength="10" readonly />
                    <br />
                    
                    <label for="UpdatedBy" class="text-secondary">Updated By <span class="mandatory">*</span> </label><br />
                    <input class="form-control mb-3" id="UpdatedBy" required [(ngModel)]="engineer.EngCode" name="UpdatedBy" value="SYSTEM" size="8" maxlength="10" readonly />
                    <br />
    
                  </div>
                  <div class="col-8">
                    <label for="CreatedOn" class="text-secondary">Created On <span class="mandatory">*</span> </label><br />
                    <input class="form-control mb-3" id="CreatedOn" required [(ngModel)]="engineer.LastLogin" name="CreatedOn" readonly />
                    <br />
                    
                    <label for="UpdatedOn" class="text-secondary">Updated On <span class="mandatory">*</span> </label><br />
                    <input class="form-control mb-3" id="UpdatedOn" required [(ngModel)]="engineer.LastLogin" name="UpdatedOn" readonly />
                    <br />
    
                    <label for="Deleted" class="text-secondary">Deleted</label><br />
                    <input class="form-control mb-3" id="Deleted" required [(ngModel)]="engineer.Active" name="Deleted" value=0 size="3" maxlength="4" min="0" max="1" readonly />
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br /> <span class="mandatory">*</span> <span class="text-muted italicsText">&nbsp; means mandatory field.</span>
        <!----------->
  
        <br /><br />

        <button (click)="addEngineer()" class="btn btn-primary  btn-lg"><i class="fas fa-user-check"></i> Create Engineer</button>
        <br /><br />
        <div class="btn-group">
          <button class="btn btn-outline-primary btn-sm rounded-2 me-3" routerLink="/engineer" ><i class="fas fa-users-cog"></i> Engineers</button><br />
          &nbsp; 
          <button class="btn btn-success btn-sm rounded-2" routerLink="/" ><i class="fas fa-home"></i> Home</button>
          <br /><br />
        </div>
        <br />

      </div>
  
      <div *ngIf="isEngineerAdded">
        <h3>New Engineer created.</h3>
        <button class="btn btn-primary" (click)="newEngineer()" disabled ><i class="fas fa-user-plus"></i>  + Add More</button>
      </div>
      <br />

      <!--  <img src="assets/images/workinprogress01.jpg" alt="Work in Progress" style="width:428px;height:286px;"><br /><br />  -->
      <br /><br />

    </div>
  </div>
  
