.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-full-width {
  width: 100%;
}

.mat-badge-content {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}


.example-spacer {
  flex: 1 0 auto;
}

.w-75{
  width: 100%;
}

.w-100{
  width: 10%;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.mat-expansion-panel-header-title {
  /* color: #3f51b5;  */ /* same color as MUI Primary */ 
  color : #333;
  font-size: medium;
  font:medium;
  font-weight: bold;
  /*
  color: black;
  */
}
/*
.mat-expansion-panel-header-title:visited {

  color : blue;
  font-size: medium;
  font:medium;
  font-weight: bold;
  
  color: black;
  
}

.mat-expansion-panel-header-title:hover {
  
  color : #333;
  font-size: medium;
  font:medium;
  font-weight: bold;

}
.mat-expansion-panel-header-title:active {
  
  color : #333;
  font-size: medium;
  font:medium;
  font-weight: bold;

}
*/

::ng-deep .mat-expansion-panel-header[aria-disabled=true] {
  /* color: rgba(0,0,0,.87); */
  /*color: #3f51b5;  */
  /* color: #1e90ff;  */
  color: #00bfff;
}

a:hover{
  cursor: pointer;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: pointer;
}


/*-----------------------------------*/
tr.mat-header-row {
  /* height: 56px; */
height: 25px; 
}
.mat-expansion-panel-body {
  /* padding: 0 24px 16px; */
padding: 0 6px 4px; 
}

.headerstyle {
  color: #333;
  /* 
  color: #3f51b5;
  font-weight: bold; 
  */
}

.headerstyle2 {
  /* color: #1e90ff; */
  color: blue;
  /* 
  color: #3f51b5;
  font-weight: bold; 
  */
}

tr.mat-row {
  /* height: 56px; */
}
/*
tr.mat-row:hover {
  border-color: gray;
  background-color: #e2e2e2;
}
*/


.mat-tab-label {
  color: #00bfff;
  /* color: #3f51b5; */
}

.mat-tab-label:hover {
  font-weight: bold;
  color: 1e90ff;
  border-color: 1e90ff;
  /*
  color: #3f51b5;
  border-color: #3f51b5;
  */
  background-color: #e2e2e2;
}

.mat-expansion-panel-header {
  color: #e2e2e2;
  border-color: #b0e0e6;
  background-color: #b0e0e6;
}

/*
.mat-expansion-panel-header:hover {
  color: #e2e2e2;
  border-color: #1e90ff;
  background-color: #1e90ff;
}
*/
/*--------------------------------------*/

/*--- style Placeholder text  ---*/
/* 1st section ~ Chrome, Firefox, Opera, Safari 10.1+ , AND  Firefox */
/* 2nd section ~ Internet Explorer 10-11 */
/* 3rd section ~ Microsoft Edge */

::placeholder { 
  color: black;
  font-size: 1.5em;
  opacity: 1; 
}

:-ms-input-placeholder { 
  color: black;
}

::-ms-input-placeholder {
  color:black;
}


/*--------------------------------------*/

/*--- style checkbox ----*/ 
.chkbx_style {
  margin: 0 10px;
}
::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: blue !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: blue !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: blue !important;
}
/*--------------------------------------*/

input[type=text] {
  /* background-color: yellow ; */
  color: black;
  font-weight: bold;
}


