<div class="container-xxl">
	<br />
    <h1 class="display-1 text-center"><strong>Engineer Details | {{ pageTitle }} </strong> </h1>



    <!-- 
    <div class="container custom-container">
        <div class="col-md-12">
          
          <h3 class="mb-3 text-center">Update Employee</h3> engineer
      
          <div class="form-group">
            <input type="text" [(ngModel)]="engineer.FirstName" class="form-control" placeholder="First Name">
          </div>
      
          <div class="form-group">
            <input type="text" [(ngModel)]="engineer.Email" class="form-control" placeholder="Email">
          </div>
      
          <div class="form-group">
            <input type="text" [(ngModel)]="engineer.LastName" class="form-control" placeholder="Last Name">
          </div>
      

          
        </div>
      </div>
    -->
          <!-- 
          <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" (click)="updateEmployee()">Update Employee</button>
          </div> 
          -->



    <br /><br />
	<img src="assets/images/workinprogress01.jpg" alt="Work in Progress" style="width:428px;height:286px;">
    <br /><br />
    <p>engineerdetail works!</p>
</div>