<div class="container-xl">
    <br />
    <h1>{{ pageTitle }} </h1>
    <br />

    <div>
        <form >
            <div class="card">
                <div class="card-header">28 Days Analysis</div>
                <div class="card-body">
                    <label for="dysLastAnalysis" class="form-label">
                        <strong>Days since last analysis before reminder is displayed</strong>
                    </label>
                    <input 
                      type="number" 
                      min="0" 
                      max="9999" 
                      class="form-control" 
                      id="dysLastAnalysis" 
                      name="dysLastAnalysis" 
                      placeholder="14"
                    >
                    <br />
                </div> 
            </div>
              <br />
            <div class="card">
                <div class="card-header">Resources Tab Content</div>
                <div class="card-body">
                    <strong>View content for:</strong><br />

                    <div class="form-check">
                        <input 
                          type="radio" 
                          class="form-check-input" 
                          id="radio1" 
                          name="optradio" 
                          value="option1" 
                          checked
                        >
                        <label class="form-check-label" for="radio1">Regular Users</label>
                    </div>
                    <div class="form-check">
                        <input 
                          type="radio" 
                          class="form-check-input" 
                          id="radio2" 
                          name="optradio" 
                          value="option2"
                        >
                        <label class="form-check-label" for="radio2">Admin Users</label>
                    </div>

                    <br />
                    <p>Insert CK Editor here</p>
                    <br />
                </div> 
            </div>
            

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>





    <!-- start ~ Date Range Picker Component -->
    <!-- 
    <mat-form-field>
        <mat-label><strong>Choose Date Range</strong> </mat-label>
        <mat-date-range-input [rangePicker]="myRangePicker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="myRangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #myRangePicker></mat-date-range-picker>
    </mat-form-field> 
    <br />
    -->
    <!-- end  ~ Date Range Picker Component -->
    <br /><hr /><br /><br />
	<img src="assets/images/settings.png" alt="Global Settings" style="width:1185px;height:895px;">

    <br />
</div>

