<mat-expansion-panel [expanded]="true" hideToggle [disabled]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
          Manual Tasks
        </mat-panel-title>

      </mat-expansion-panel-header>

      <br/>
      
        <div class="example-container ">
            <!-- <div class="example-header">
                <mat-form-field>
                    <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
                <mat-icon>close</mat-icon>
              </button>
                </mat-form-field>
            </div>
         -->
            <mat-table #table [dataSource]="dataSource">
        
                <!-- Position Column -->
                <ng-container matColumnDef="TaskName">
                    <mat-header-cell *matHeaderCellDef class="text-center"> Task Name </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="text-center"> {{element.TaskName}} </mat-cell>
                </ng-container>
        
                <!-- Name Column -->
                <ng-container matColumnDef="TotalItems">
                    <mat-header-cell *matHeaderCellDef class="text-center"> Total Items </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="text-center">
                        <mat-form-field floatLabel="never"  appearance="outline">
                            <input matInput placeholder="Name" type="number" [value]="element.TotalItems" [(ngModel)]="element.TotalItems" (change)="updateTasks(element)">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
        
                <!-- Weight Column -->
                <ng-container matColumnDef="CompletedItems">
                    <mat-header-cell *matHeaderCellDef class="text-center"> Completed Items </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="text-center">                        
                         <mat-form-field floatLabel="never"  appearance="outline">
                        <input matInput placeholder="Name" type="number" [value]="element.CompletedItems" [(ngModel)]="element.CompletedItems" (change)="updateTasks(element)">
                    </mat-form-field> </mat-cell>
                </ng-container>
        
                <!-- Symbol Column -->
                <ng-container matColumnDef="TaskLeft">
                    <mat-header-cell *matHeaderCellDef class="text-center"> Tasks Left </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="text-center">
                        {{element.TotalItems - element.CompletedItems}}
                    </mat-cell>
                </ng-container>

        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
        

     

      

</mat-expansion-panel>


<br/>

      
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <mat-expansion-panel [expanded]="true"  hideToggle [disabled]="true">
          <mat-expansion-panel-header>
              <mat-panel-title>
                28 Day Analysis
              </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="row">
                <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
                    <mat-checkbox [ngModel]="report?.NeedsAnalysis"  (ngModelChange)= "updateReport($event,'analysis')" > Need Analysis?</mat-checkbox>
                </div>

            </div>
            <div class="row padding-top-10">
                <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6">
                    <mat-checkbox [ngModel]="report?.Completed" (ngModelChange)= "updateReport($event,'completed')" >Done?</mat-checkbox>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="padding-top: 18px;">
                    <em>
                        Last Completed: {{lastDate}} 
                        
                    </em>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
      <mat-expansion-panel [expanded]="true" hideToggle [disabled]="true">
          <mat-expansion-panel-header>
              <mat-panel-title>
                Manual Tasks Comments
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-form-field appearance="outline" class="example-full-width">
              <textarea matInput 
                 placeholder="Comment" style="width: 100%;"
                  [(ngModel)] ="comment"
                  (change) = "updateComment()"

                 >
              </textarea>
            </mat-form-field> 

      </mat-expansion-panel>
  </div>

</div>


