table {
    width: 100%;
  }

  .mat-header-cell {
    min-height: 12px;
    font-size: smaller;
    font-weight: bold;
    
    /* text-align: center; */
}

/*
.mat-cell {
  text-align: center;
  justify-content:center;
}
*/

.example-full-width {
  width: 100%;
}
.mat-expansion-panel-header-title {
  color: black;
  font-size: medium;
  font:medium;
  font-weight: bold;
}
::ng-deep .mat-expansion-panel-header[aria-disabled=true] {
  color: rgba(0,0,0,.87);
}
/*------------------------------------*/

input[type="number"] {
  text-align: center;
}

