<div class="container-xxl">
  <br />
  <h1>{{ pageTitle }}</h1>
  <br />
  <!--- start ~ Table -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Form to edit/add row -->
        <form (submit)="onSubmit()" #engineersForm="ngForm">
          <mat-form-field>
            <input
              matInput
              placeholder="First Name"
              name="FirstName"
              required
              [(ngModel)]="engineersData.FirstName"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Email"
              name="Email"
              required
              [(ngModel)]="engineersData.Email"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Language"
              name="Language"
              required
              [(ngModel)]="engineersData.Language"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Admin"
              name="IsAdmin"
              required
              [(ngModel)]="engineersData.IsAdmin"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Active"
              name="Active"
              required
              [(ngModel)]="engineersData.Active"
            />
          </mat-form-field>

          <ng-container *ngIf="isEditMode; else elseTemplate">
            <!-- <button mat-button color="primary">Update</button>  -->
            &nbsp; &nbsp;
            <button class="btn btn-sm btn-primary">
              <i class="fas fa-edit"></i> Update
            </button>
            &nbsp;
            <button class="btn btn-sm btn-warning" (click)="cancelEdit()">
              <i class="far fa-times-circle"></i> Cancel
            </button>
            <!-- 
                        <a 
                          mat-button color="warn" 
                          (click)="cancelEdit()"
                        >
                            Cancel
                        </a> 
                        -->
          </ng-container>
          <ng-template #elseTemplate>
            <!-- <button mat-button color="primary">Add</button> -->
            &nbsp; &nbsp; &nbsp;
            <button class="btn btn-sm btn-success" disabled>
              <i class="fas fa-user-plus"></i> Add
            </button>
          </ng-template>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <!-- Bootstrap styling -->
        <!--- 
        <input
          type="text"
          placeholder="Search Engineers. (Use with Pagination)"
          size="55"
          maxlength="65"
          class="form-control"
          (keyup)="applyFilter($event)"
        />
        <br /> 
        -->

        <div fxLayout fxLayoutAlign="start center">
          <mat-form-field fxFlex="80%">
            <input
              matInput
              type="text"
              size="55"
              maxlength="65"
              placeholder="Filter Engineers"
              (keyup)="applyFilter($event)"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="col-7">
        <mat-paginator
          [pageSize]="100"
          [pageSizeOptions]="[5, 10, 15, 25, 50, 100, 150, 200]"
          showFirstLastButtons
        >
        </mat-paginator>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-wrapper">
          <!-- data columns: EngCode, FirstName, LastName, Email, Language, IsAdmin, LastLogin, Active -->

          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            class="mat-elevation-z8 table table-striped table-hover table-responsive table-sm"
          >
            <ng-container matColumnDef="EngCode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>EngCode</strong>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.EngCode }}</td>
            </ng-container>

            <ng-container matColumnDef="FirstName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>First Name</strong>
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.FirstName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="LastName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Last Name</strong>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.LastName }}</td>
            </ng-container>

            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Email</strong>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.Email }}</td>
            </ng-container>

            <ng-container matColumnDef="Language">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Lang</strong>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.Language }}</td>
            </ng-container>

            <ng-container matColumnDef="IsAdmin">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Admin</strong>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.IsAdmin }}</td>
            </ng-container>

            <ng-container matColumnDef="LastLogin">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Last Login</strong>
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.LastLogin | date: "medium" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Active">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <strong>Active</strong>
              </th>
              <td mat-cell *matCellDef="let element">{{ element.Active }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>
                &nbsp; &nbsp; <strong>Actions</strong>
              </th>
              <td mat-cell *matCellDef="let element">
                <!-- 
                            <a 
                              href="javascript:void(0)" 
                              (click)="editItem(element)"
                            >
                                Edit
                            </a> |
                            <a 
                              href="javascript:void(0)"  
                              (click)="deleteItem(element.EngCode)"  
                              disabled  
                            >
                                Delete
                            </a>
                            -->

                <span>
                  &nbsp; &nbsp;
                  <button
                    type="button"
                    class="btn btn-sm btn-primary"
                    href="javascript:void(0)"
                    (click)="editItem(element)"
                  >
                    <i class="fas fa-edit"></i> Edit
                  </button>
                  &nbsp;
                  <button
                    type="button"
                    class="btn btn-sm btn-danger"
                    disabled
                    href="javascript:void(0)"
                    (click)="deleteItem(element.EngCode)"
                  >
                    <i class="fas fa-trash-alt"></i> Delete
                  </button>
                </span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              [ngClass]="{
                'editable-row': engineersData.EngCode === row.EngCode
              }"
            ></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--- end   ~ Table -->
</div>
