.gradient-custom-2 {
    /* fallback for old browsers */
    
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(236, 248, 244, 0.52), rgba(240, 247, 244, 0.73));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(210, 235, 226, 0.52), rgba(225, 243, 234, 0.73));
  }

  .gradient-custom-3 {
    /* fallback for old browsers */
    background-image: url("../../assets/login.png"),
    linear-gradient(to bottom, #1edd94, #1edd94, #1edd94, #1edd94);
    
  }
  
  .gradient-custom-4 {
    background-image:
    linear-gradient(to right, rgba(190, 233, 219, 0.52), rgba(186, 240, 213, 0.73)),
    url('../../assets/login_combined.png');
    width: 100%;
    color: black;
    height: 100%;
    background-size: cover;
    
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
