<div class="container-xl">
    <br />
    <h1>{{ pageTitle }} </h1>
    <br />
	<div>		  
		<!---  start - Data Table ---->
		<div class="row">
		  <div class="col-6">
			  <input type="text" [(ngModel)]="searchterm" placeholder="Search Engineers. (Use with Pagination)" size="70">
		  </div>
		  <div class="col-6">
			  <pagination-controls (pageChange)="p = $event"></pagination-controls> 
		  </div>
		</div> 


		<div class="container mt-3">            
		  <table class="table table-hover table-striped table-bordered table-sm table-responsive">
			<thead class="table-primary">
			  <tr>
				<th scope="col"> # </th>
				<th scope="col">EngCode</th>
				<th scope="col">First Name</th>
                <th scope="col">Last Name</th>
				<th scope="col">Email</th>
				<th scope="col">Language</th>
				<th scope="col">Admin?</th>
				<th scope="col">Last Login</th>
				<th scope="col">Active</th>
			  </tr>
			</thead>
			<tbody>
			  <tr *ngFor="let item of adminEngineersList | paginate: { itemsPerPage: 100, currentPage: p } | filter:searchterm; index as i;">
				<td>{{ i + 1 }}</td>
				<td>{{ item.EngCode }}</td>
				<td>{{ item.FirstName }}</td>
				<td>{{ item.LastName }}</td>
                <td>{{ item.Email }}</td>
				<td>{{ item.Language }}</td>
				<td>{{ item.IsAdmin}}</td>
				<td>{{ item.LastLogin  | date :'medium' }}</td>
				<td>{{ item.Active }}</td>
			  </tr>

			</tbody>
		  </table>
		</div>
		<br />
		<!---/ end   - Data Table ---->
	</div>
</div>



