<div class="container-xl">
    <br />
    <h1 class="display-1"> <strong>{{ pageTitle }}</strong> </h1> 
    <hr />
    <br />
    <!---------------->
    <div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="admintasks-tab" data-bs-toggle="tab" data-bs-target="#admintasks" type="button" role="tab" aria-controls="admintasks" aria-selected="true">Tasks</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="manualtasks-tab" data-bs-toggle="tab" data-bs-target="#manualtasks" type="button" role="tab" aria-controls="manualtasks" aria-selected="false">Manual Tasks</button>
        </li>
      </ul>
    
      <div class="tab-content pt-4">
        <div class="tab-pane active" id="admintasks" role="tabpanel" aria-labelledby="admintasks-tab">
        <!--- start ~ content for Tasks -->


        <!-- columnsToDisplay = ['TaskID', 'TaskName', 'TaskType', 'TaskTypeShort', 'Weight', 'TaskDescription', 'Active' ];   -->
        <div class="table_container">
          <!----  start - table search,  & pagination  ---->
          <div class="row">
              <div class="col-6">
                  <input type="text" placeholder="Search by Task name" autocomplete="on" (keyup)="filterData($event)" size="70" maxlength="75" />
              </div>
              <div class="col-6">
                <mat-paginator 
                  #paginator  
                  [pageSize]="50" 
                  [pageSizeOptions]="[5, 10, 20, 25, 50, 100, 200]"
                >
                </mat-paginator>
              </div>
          </div> 
          <div class="row">
              <div class="col-6"><strong>Note: </strong> <em> 'ID' != Index count. </em> </div>
          </div>
          <!---/  end - table search,  & pagination  ---->
          <table 
            mat-table matSort 
            [dataSource]="dataSource" 
            class="table table-striped table-hover table-sm table-responsive   mat-elevation-z8"
          >
            <!-- Note; 'ID' != 'index' count!  How to find the index : https://stackoverflow.com/questions/50292349/get-index-of-row-in-angular-material-table-v5   -->


            <ng-container matColumnDef="TaskID">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>  ID  </th>
              <td mat-cell *matCellDef="let element">{{element.TaskID}}  </td>
            </ng-container>

            <ng-container matColumnDef="Weight">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>   Weight   </th>
              <td mat-cell *matCellDef="let element">  <strong>  {{ element.Weight }} </strong>  </td>
            </ng-container>

            <ng-container matColumnDef="TaskName">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>  Name  </th>
              <td mat-cell *matCellDef="let element">   {{element.TaskName}}   </td>
            </ng-container>
          
            <!-- <ng-container matColumnDef="TaskType">
              <th mat-header-cell mat-sort-header *matHeaderCellDef> TaskType </th>
              <td mat-cell *matCellDef="let element">{{element.TaskType}} </td>
            </ng-container>  -->


            <!-- Note2Self | Note2OtherDevs 
              took OUT 'TaskType' field.
              Also there are 2 nodes on this API end-point; 'automated' & 'manual' | I have selected just 'automated' 
            See line # 43 of 'admin.service.ts' in API | line changed from "return result;" TO "return result.automated;"  
            -->


            <ng-container matColumnDef="TaskDescription">
              <th mat-header-cell mat-sort-header *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element">{{element.TaskDescription}} </td>
            </ng-container>

            <ng-container matColumnDef="Active">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>  Active </th>
              <td mat-cell *matCellDef="let element">  {{element.Active}}  </td>
            </ng-container>

            <ng-container matColumnDef="TaskTypeShort">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>  Type </th>
              <td mat-cell *matCellDef="let element">  {{element.TaskTypeShort}}  </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay; let i = dataIndex;"></tr>
          </table>  
        </div>



        <!--- end   ~ content for Tasks -->
        </div>
        <div class="tab-pane" id="manualtasks" role="tabpanel" aria-labelledby="manualtasks-tab">
        <!-- Content for Manual Tasks  -->
        <app-adminmanualtasks></app-adminmanualtasks>
        </div>
      </div>
    </div>

    <!---------------->
    <br />
</div>
<br /><br />


