.table_container{
    display: flex;
    flex-direction: column;
}

.search-container{
    margin-top: 10px;
}

::ng-deep .search_input {
    border: 2; 
    font-size: 1.3em; 
    font-family:"Ubuntu Light","Ubuntu","Ubuntu Mono","Segoe Print","Segoe UI";
    color:#0a0082; 
    border:solid 1px #ccc; 
    border-radius: 2px; 
}
::ng-deep .search_input:focus {
    border-color: #4b0082;  /* deep blue #0a0082 | indigo #4b0082 */
}

th.mat-header-cell {
    color: #0a0082;
    font-weight: bold;
    font-size: 1.2em; 
    background-color: #fff;
    padding-bottom: 3px;
 }

 .page_header_label {
     font-weight: bold;
     color: #0a0082;
 }
  /* deep blue #0a0082 | indigo #4b0082 */
