<div class="container-xl">
    <br />
    <h1>{{ pageTitle }} </h1>


    <br />
    <div class="card">
      <div class="card-header"><strong>Overall</strong> </div>
      <div class="card-body">
        <google-chart [data]="barChartAllEngineers"></google-chart>
      </div> 
    </div>
    <br />

    <div class="card">
        <div class="card-header"><strong>By Engineer</strong> </div>
        <div class="card-body">
            <google-chart [data]="barChartByEngineer"></google-chart>
        </div> 
    </div>
    <br />

    <div class="card">
        <div class="card-header">Imported Data</div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <table class="table table-sm table-hover">
                        <tbody>
                          <tr>
                            <td>Total Comtel tasks imported:</td>
                            <td>3377</td>
                          </tr>
                          <tr>
                            <td>Total usable Comtel tasks:</td>
                            <td>3377</td>
                          </tr>
                          <tr>
                            <td>Total unusable Comtel tasks:</td>
                            <td>0</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <table class="table table-sm table-hover">
                        <tbody>
                          <tr>
                            <td>Total SharePoint tasks imported:</td>
                            <td>5760</td>
                          </tr>
                          <tr>
                            <td>Total usable SharePoint tasks:</td>
                            <td>5760</td>
                          </tr>
                          <tr>
                            <td>Total unusable SharePoint tasks:</td>
                            <td>0</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>            
        </div> 
    </div>







    <br /><br />
    <hr /><br />
    <img src="assets/images/administration.png" alt="Dashboard" style="width:1171px;height:766px;">
    <br />
</div>
