<div class="container-xl">
    <br />
	
	<!-- Show it when there are no Long Weekends Reminders -->
    <!-- 
	<div class="no-data text-center" *ngIf="adminLongWeekendReminders.length == 0">
		<p>No Long Weekend Reminders added yet!</p>
		<br />	  
		<div class="alert alert-secondary alert-dismissible fade show">
		  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		  <strong>No Data!</strong> There are no Long Weekend Reminders currently for the specified filter date range.
		</div>
		<br />	  
		<button class="btn btn-primary" disabled >Add Long Weekend Reminder</button>	  
      <br />
    </div>
	-->
	
	<!-- Engineer list table, it hides when there is no engineer -->
	<div><!-- <div *ngIf="adminLongWeekendReminders.length !== 0">  -->
		<!-------------------------->
		<!-- <h1 class="display-1 h1 text-primary">{{ pageTitle }} </h1> -->
		<h1>{{ pageTitle }} </h1>
		<br />
		<!-- Date Range Picker Component -->
		<!--------------------------------->
		<mat-form-field class="example-full-width" appearance="fill">
			<mat-label><strong>Choose a Date Range please</strong> </mat-label>

			<mat-date-range-input [rangePicker]="myPicker" [formGroup]="dateRange">
			  <input matStartDate formControlName="startDate" placeholder="Start Date" >
			  <input matEndDate   formControlName="endDate"   placeholder="End Date"   >
			</mat-date-range-input>

			<mat-datepicker-toggle matSuffix [for]="myPicker">
				<mat-icon matDatepickerToggleIcon>date_range</mat-icon>
			</mat-datepicker-toggle>

			<!-- <mat-date-range-picker #myPicker></mat-date-range-picker> -->
			<mat-date-range-picker #myPicker>
				<mat-date-range-picker-actions>
				  <button mat-button matDateRangePickerCancel>Cancel</button>
				  <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
				</mat-date-range-picker-actions>
			</mat-date-range-picker>

			<!-- 
			<mat-error *ngIf="dateRange.controls.startDate.hasError('matStartDateInvalid')">Invalid start date</mat-error>
			<mat-error *ngIf="dateRange.controls.endDate.hasError('matEndDateInvalid')">Invalid end date</mat-error>
			-->

		</mat-form-field> &nbsp; &nbsp; 
		<button type="button" class="btn btn-primary"  (click)="getLongWeekendReminders()"  ><i class="fas fa-sync-alt"></i> Get Date Range Data</button>

		<br />
		<h3><em>Example Date Range: </em> 2018-12-10 to 2021-12-10.</h3><br />
		
		<h3>
			<strong>Date Range Selected: </strong> 
			{{dateRange.value.startDate | date}}  &nbsp; &nbsp; {{dateRange.value.endDate | date}} 
			<!--   |   {{dateRange.value.startDate | date: 'yyyyMMdd' }}  -  {{dateRange.value.endDate | date: 'yyyyMMdd' }}  -->
		</h3> 

		  
		<!--------------------------------->
		<br />
		<button type="button" class="btn btn-success" disabled><i class="fas fa-plus"></i> Create Reminder</button>
		<br /><br />
		
		


		<!---  start - Data Table ---->
		<div class="row">
		  <div class="col-6">
			  <input type="text" [(ngModel)]="searchterm" placeholder="Search Admin User Weights returned. (Use with Pagination)" size="70">
		  </div>
		  <div class="col-6">
			  <pagination-controls (pageChange)="p = $event"></pagination-controls> 
		  </div>
		</div> 


		<div class="container mt-3">            
		  <table class="table table-hover table-striped table-bordered table-sm table-responsive">
			<thead class="table-primary">
			  <tr>
				<th scope="col"> # </th>
				<th scope="col">Reminder ID</th>
				<th scope="col">Holiday ID</th>
				<th scope="col">Holiday</th>
				<th scope="col">Panels</th>
				<th scope="col">Start Date</th>
				<th scope="col">End Date</th>
				<th scope="col">Notes</th>
			  </tr>
			</thead>
			<tbody>
			  <tr *ngFor="let item of adminLongWeekendReminders | paginate: { itemsPerPage: 25, currentPage: p } | filter:searchterm; index as i;">
				<td>{{ i + 1 }}</td>
				<td>{{ item.LongWeekendReminderID }}</td>
				<td>{{ item.LongWeekendHolidayID }}</td>
				<td>{{ item.Holiday }}</td>
				<td>{{ item.Panels }}</td>
				<td>{{ item.StartDate | date: 'yyyy-MM-dd' }}</td>
				<td>{{ item.EndDate   | date: 'yyyy-MM-dd' }}</td>
				<td>{{ item.Notes }}</td>
			  </tr>

			</tbody>
		  </table>
		</div>
		<br />
		<!---/ end   - Data Table ---->
	</div>
    <!-- 
    <br />
	<img src="assets/images/longweekends.png" alt="Long Weekend Reminders" style="width:1182px;height:368px;">
	<br />
    -->
    
    
</div>














<!-------
<div class="container-xl">
    <br />
    <h1 class="display-1 h1 text-primary">{{ pageTitle }} </h1>
    <br />
    
    <p>Re-insert Date Picker component here - see commented out code below</p>

    <br /><hr />

    <br /><br />

	<img src="assets/images/longweekends.png" alt="Long Weekend Reminders" style="width:1182px;height:368px;">
    <br />
    
</div>
-->
