/* You can add global styles to this file, and also import other style files */
/*  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');  */ 

/*
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(./assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf) format("truetype");
}
*/

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* remove link underlines  */
.link_no_underline:link {
  text-decoration: none;
}
.link_no_underline2:link {
  text-decoration: none;
  color: black;
  font-weight: 400;
}
.link_no_underline:visited,
.link_no_underline2:visited {
  text-decoration: none;
}
.link_no_underline:hover,
.link_no_underline2:hover {
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  color: #3f51b5;
}
.link_no_underline:active,
.link_no_underline2:active {
  text-decoration: none;
  font-weight: bold;
  color: #3f51b5;
}

i.iconstyle1 {
  color: white;
}

i.iconstyle2 {
  color: #1e90ff;
}
.displayobject {
  background-color: #33ccff;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
