<div class="container-xl">
    <br />
    <h1 class="display-1 h1 text-primary">User Weights</h1>
    <br />
    <!-- Date Range Picker Component -->
    <mat-form-field>
        <mat-label><strong>Choose Date Range</strong> </mat-label>
        <mat-date-range-input [rangePicker]="myRangePicker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="myRangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #myRangePicker></mat-date-range-picker>
    </mat-form-field> 

    <br />

    <!--- start ~ data table & date range picker --->
    <table border="0" cellspacing="5" cellpadding="5">
        <tbody>
            <tr>
                <td>Start Date :</td>
                <td>
                    <input type="text" id="min" name="min">
                </td>
            </tr>
            <tr>
                <td>End Date :</td>
                <td>
                    <input type="text" id="max" name="max">
                </td>
            </tr>
        </tbody>
    </table>    
    
    <!--- start ~ data table & date range picker --->
    <div class="container">
 
        <!-- 
        <div class="row">
            <div class="col-3">
                col-3
            </div>
            <div class="col-3">
                col-3
            </div>
            <div class="col-6">col-6</div>
        </div>
        <br />
        -->
        <hr />
        <div class="row">
          <div class="col-sm-6 mb-4">
            <div class="form-group">
              <label for="sel1" class="form-label"><strong>Filter Date Range : </strong> </label>
              <input 
                class="form-control" 
                type="date" 
                class="dateadded form-control" 
              />
            </div>
          </div>
        </div>
        <table 
          id="dataTables-example" 
          class="table table-striped table-sm table-hover table-responsive"
        >
            <thead class="table-dark">
            <tr>
              <th>ID</th>
              <th>Engineer</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Start Date</th>
              <th>EndDate</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let group of dynamicdata">
                 <td>{{group.EngTaskWeightOverrideID}}</td>
                 <td>{{group.EngCode}}</td>
                 <td>{{group.FirstName}}</td> 
                 <td>{{group.LastName}}</td>
                 <td>{{group.StartDate | date: 'yyyy-MM-dd' }}</td>
                 <td>{{group.EndDate | date: 'yyyy-MM-dd' }}</td>
                 <td>{{group.Notes}}</td>
             </tr>
          </tbody>
        </table>
      </div>
    <!--/ end   ~ data table & date range picker --->
    
    <br /><br />

	<img src="assets/images/weights.png" alt="Task Weights" style="width:1182px;height:362px;">
    <br />
    
</div>
