
<div class="container-xxl">
    <br />

    <!-- Show it when there is no engineer -->
    <!-- 
    <div class="no-data text-center" *ngIf="Engineer.length == 0">
      <p>There are no engineers added yet!</p>
      <button class="btn btn-primary" routerLink="/engineeredit">Add New Engineer</button>
      <br />
    </div>
    -->
  
    <!-- Engineer list table, it hides when there is no engineer -->
    <div>
    <!-- </div><div *ngIf="Engineer.length !== 0"> -->
      <h1>{{ pageTitle }} </h1>
      <!-- <h1 class="display-1 text-center h1 text-primary"><strong> {{ pageTitle }} </strong></h1> -->
      <br />

      <!-- 
      <div class="alert alert-secondary">
        <strong>Work in Progress!</strong> 'Delete' & 'Create' buttons dsiabled.  Sorting, filtering, & pagination still to be implemented.
      </div>
       -->
      <br />
      <button type="button" class="btn btn-primary btn-lg" routerLink="/engineercreate"><i class="fas fa-plus"></i> Create New Engineer</button>
      <br /><br />

      <div class="row">
        <div class="col-6">
            <input type="text" [(ngModel)]="searchterm" placeholder="Search for an Engineer. Use with Pagination" size="60">
        </div>
        <div class="col-6">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
  
      <div class="col-md-12">
        <table class="table table-bordered table-hover table-striped table-sm table-responsive">
          <thead class="table-primary">
            <tr>
              <th scope="col"> # </th>
              <th scope="col">Eng Code</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Language</th>
              <th scope="col">Is Admin</th>
              <th scope="col">Active</th>
              <th scope="col">Last Login</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let engineer of Engineer | paginate: { itemsPerPage: 100, currentPage: p } | filter:searchterm; index as i;"> 
              <td>{{ i + 1 }}</td>
              <td>{{engineer.EngCode}}</td>
              <td>{{engineer.FirstName}}</td>
              <td>{{engineer.LastName}}</td>
              <td>{{engineer.Email}}</td>
              <td>{{engineer.Language}}</td>
              <td>{{engineer.IsAdmin}}</td>
              <td>{{engineer.Active}}</td>
              <td>{{engineer.LastLogin | date :'short' }}</td>
              <td>
                <span>
                    <button type="button" class="btn btn-primary" routerLink="/engineer/{{engineer.EngCode}}"><i class="fas fa-edit"></i> Edit</button>
                    &nbsp; 
                    <button type="button" class="btn btn-sm btn-danger" disabled (click)="deleteEngineer(engineer.EngCode)"><i class="fas fa-trash-alt"></i> Delete</button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>    
        <br /><br />
        
        <br />
      </div>
  
    </div>
  
  </div>
  
